@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-plus-jakarta: var(--font-plus-jakarta);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
  --card: #ffffff;
  --card-foreground: #09090b;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #5000ef;
  --primary-foreground: #ffffff;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #f4f4f5;
  --accent-foreground: #18181b;
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #5000ef;
  --radius: 0.5rem;
}

.dark {
  --background: #0d0e11;
  --foreground: #fafafa;
  --card: #0d0e11;
  --card-foreground: #fafafa;
  --popover: #0d0e11;
  --popover-foreground: #fafafa;
  --primary: #00c3cb;
  --primary-foreground: #0d0e11;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #27272a;
  --accent-foreground: #fafafa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;
  --border: #27272a;
  --input: #27272a;
  --ring: #00c3cb;
}
@layer utilities {
  .font-plus-jakarta {
    font-family: var(--font-plus-jakarta), sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f8f9fa;
}
html.dark ::-webkit-scrollbar-track {
  background: #0d0e11;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #5000ef, #00c3cb);
  border-radius: 10px;
  border: 2px solid #f8f9fa;
}
html.dark ::-webkit-scrollbar-thumb {
  border: 2px solid #0d0e11;
}
